NODE_ENV=
PORT=
APP_NAME=
APP_URL=
FRONTEND_URL=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_CALLBACK_URL=

MAX_FILE_SIZE=
UPLOAD_PATH=

QR_CODE_PATH=